/* Stylesheet for homepage */

header {
        font-size: 16pt;
        font-family: Georgia;
        color: #894;
        display: flex;
        flex-direction: column;
        align-items: center;
}

h2 {
        font-size: 0.8em;
}

#navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 1em solid blue;
}

nav>* {
        flex-grow: 1;
        border: 0.5em solid purple;
        text-align: center;


}


.container {
        border: 1em solid red;
        box-shadow: 2px 2px 2px #cccccc;
}

#post {
        display: flex;
        flex-direction: column;
        border: 1em solid green;
        padding: 0.5em;
}

#post-cards {
        display: grid;
        grid-template: repeat(3, 1fr);
        grid-template-areas:
        "1 2 3"
        "4 5 6";

}

#post1 {
        grid-area: "1";
}

#post2 {
        grid-area: "2";
}

#post3 {
        grid-area: "3";
}

#post4 {
        grid-area: "4";
}


#post5 {
        grid-area: "5";
}

/*
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

        */

