/* STYLESHEET FOR HOMEPAGE */


/* HEADER ELEMENT */

@import "./styles/header.css";


/* CONTAINERS */

@import "./styles/container.css";


/* NAVIGATION SECTION */

@import "./styles/navigation.css/";


/* FOOTER */

@import "./styles/footer.css";


/* TEXT AND BACKGROUND*/

@import "./styles/text_background.css";


/* POST CARDS */

#post-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
}

img {
        width: 100px;
}

#post1 {
        grid-area: 1/1/2/2;
}

#post2 {
        grid-area: 1/2/2/3;
}

#post3 {
        grid-area: 1/3/2/4;
}

#post4 {
        grid-area: 2/1/3/2;
}

#post5 {
        grid-area: 2/2/3/3;
}

#post6 {
        grid-area: 2/3/3/4;
}

.post-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0.5em;
        border: 1px solid #FFF;
}

.footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
