/* STYLESHEET FOR BLOG POST */


/* HEADER ELEMENT */

@import "../styles/header.css";


/* CONTAINERS */

@import "../styles/container.css";


/* NAVIGATION SECTION */

@import "../styles/navigation.css/";


/* FOOTER */

@import "../styles/footer.css";


/* TEXT AND BACKGROUND*/

@import "../styles/text_background.css";


/* MAIN CONTENT */

#main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
}

#main-content>div {
        border: 1px solid #FFF;
}


#post {
        grid-area: 1/1/4/3;
        display: flex;
        flex-direction: column;
}

#author-info {
        grid-area: 1/3/3/4;
}

#social-sharing {
        grid-area: 3/3/4/4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}


/*ALIGN PREVIOUS AND NEXT*/
#post-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
