/* STYLESHEET FOR BLOG POST */


/* HEADER ELEMENT */

@import "../styles/header.css";


/* CONTAINERS */

@import "../styles/container.css";


/* NAVIGATION SECTION */

@import "../styles/navigation.css/";


/* FOOTER */

@import "../styles/footer.css";


/* TEXT AND BACKGROUND*/

@import "../styles/text_background.css";


/* MAIN CONTENT */


#main-content>div {
        border: 1px solid #FFF;
}


#post {
        display: flex;
        flex-direction: column;
}


#social-sharing {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}


/*ALIGN PREVIOUS AND NEXT*/

#post-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}


/* BREAKPOINTS */

  /* MOBILE LAYOUT */

@media (min-width: 320px) {
        #main-content {
                display: flex;
                flex-direction: column;
        }
}


  /* TABLET LAYOUT */

@media (min-width: 600px) {

        #main-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
        }

        #post {
                grid-area: 1/1/4/3;
        }

        #author-info {
                grid-area: 1/3/3/4;
        }

        #social-sharing {

                grid-area: 3/3/4/4;
        }
}


  /* DESKTOP LAYOUT */

@media (min-width: 800px) {

        #main-content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
        }
        
        #post {
                grid-area: 1/2/4/4;
        }

        #author-info {
                grid-area: 1/4/3/5;
        }

        #social-sharing {
                grid-area: 1/1/3/2;
        }
